@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/*general*/
:root {
  --primary-color: #d87fa0;
  --secondary-color: #eba0bb;
  --accent-color: #d26fb1;
  --input-color: #e6e5e5;
}

body {
  display: grid;
  grid-template-columns: 0.4fr 2fr;
  grid-template-rows: 0.5fr 2fr;
  min-width: 100%;
  height: 100vh;
  font-family: "Roboto", sans-serif;
  cursor: default;
}
path {
  transition: fill ease-in-out 200ms;
}

h1 {
  transition: color ease-in-out 200ms;
}

svg:hover path,
li:hover svg path,
li h1:hover {
  fill: #ec3e7e;
  color: #ec3e7e !important;
}
img {
  width: 70px;
}
/*nav*/

.nav {
  grid-row: 1/2;
  grid-column: 2/3;
  color: white;
  background-color: var(--secondary-color);
  box-shadow: 0px 7px 10px #c27e97;
  z-index: 2;
  display: grid;
  grid-template-columns: 0.2fr 1.4fr 0.4fr 0.3fr 0.3fr;
  grid-template-rows: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  min-width: 100%;
}

.nav #search {
  grid-column: 1/2;
  justify-self: center;
  fill: white;
  font-size: large;
}

.nav #search,
.nav input[type="search"],
.nav #bell,
.nav #upperimg,
.nav > h1 {
  grid-row: 1/2;
}

.nav #lowerimg,
.nav .twotext,
.nav button.new,
.nav button.upload,
.nav button.share {
  grid-row: 2/3;
}

.nav input[type="search"] {
  grid-column: 2/3;
  border-radius: 10px;
  outline: none;
  border: 0;
  background-color: #fff;
}

.nav #bell {
  grid-column: 3/4;
  fill: white;
  font-size: large;
  justify-self: end;
}

.nav #upperimg {
  grid-column: 4/5;
  justify-self: center;
}

.nav #lowerimg {
  justify-self: center;
  grid-column: 1/2;
}

.nav > h1 {
  grid-column: 5/6;
  font-weight: 700;
  letter-spacing: 2px;
}

.nav .twotext {
  grid-column: 2/3;
  font-size: 20px;
  font-weight: 800;
}

.nav button.new {
  grid-column: 3/4;
  justify-self: end;
}

.nav button.new,
.nav button.upload,
.nav button.share {
  background: #ec3e7e;
  color: wheat;
  font-size: large;
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 50px;
  transition: background-color ease-in-out 200ms;
  border: 0;
}

.nav button.new:hover,
.nav button.upload:hover,
.nav button.share:hover {
  background-color: #f38bb1;
}

.nav button.upload {
  grid-column: 4/5;
  justify-self: center;
}

.nav button.share {
  grid-column: 5/6;
  justify-self: start;
}

/* sidebar*/

.sidebar {
  grid-row: 1/3;
  grid-column: 1/2;
  background-color: var(--primary-color);
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 0.5fr;
  justify-content: start;
  align-items: start;
}

.sidebar ul li {
  display: grid;
  grid-template-columns: repeat(2, 40px);
  grid-template-rows: 1fr;
  justify-content: start;
  align-items: center;
  margin: 20px 0;
}

.sidebar ul li h1 {
  margin: 0 20px;
  font-weight: 900;
  color: white;
  font-size: large;
}

.sidebar .log svg {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}

.sidebar ul li.gaps {
  margin: 50px 0 0 0;
}

.sidebar svg {
  fill: white;
  font-size: large;
}

.sidebar .log h1 {
  font-size: x-large;
  font-weight: 900;
  color: white;
}

.sidebar .log {
  display: grid;
  grid-template-columns: repeat(2, 70px);
  grid-template-rows: 1fr;
  justify-content: start;
  align-items: center;
  /* display: flex;
  flex-direction: row;
  flex-wrap: nowrap;*/
  margin-bottom: 40px;
  /*justify-content: start;
  align-items: center; */
}

/*main*/

.main {
  grid-row: 2/3;
  grid-column: 2/3;
  background-color: var(--accent-color);
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 0.3fr;
  grid-template-rows: 0.2fr 15rem 5rem 0.2fr 0.5fr 20rem;
  gap: 1rem;
  padding: 20px 15px;
  color: white !important;
}

.main h1 {
  font-weight: 800;
}

.main p {
  font-weight: 500;
}

.main .toptext {
  grid-row: 1/2;
  /* color: black; */
  grid-column: 1/4;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  justify-content: space-between;
  align-items: center;
}

.main .toptext h1 {
  display: inline-block;
  font-weight: 700;
}
.main .toptext h1.far {
  justify-self: center;
}

.main .top-left,
.main .top-right,
.main .down-right {
  grid-row: 2/3;
}

.main .top-right,
.main .mid-right {
  grid-column: 2/3;
}

.main .addedtext {
  grid-row: 2/4;
  grid-column: 3/4;
}

.main .top-left,
.main .mid-left,
.main .down-left {
  grid-column: 1/2;
}

.main .mid-left,
.main .mid-right {
  grid-row: 3/6;
}

.main .addedtext {
  grid-row: 4/5;
}

.main .down-left,
.main .down-right {
  grid-row: 6/7;
}

.main .rightmostup {
  grid-row: 2/4;
}

.main .rightmostdown,
.main .rightmostup {
  grid-column: 3/4;
}

.main .rightmostdown {
  grid-row: 5/7;
}

.main .card {
  grid-template-columns: 10px 1fr;
  grid-template-rows: 1fr;
  width: 100%;
  height: 100%;
}

.main .card,
.main .cardlike {
  background-color: #c268b9;
  border-radius: 0.3rem;
  display: grid;
}

.main .card div.accentcolor {
  background-color: #ff2374;
  border-radius: 0.3rem 0 0 0.3rem;
  width: 100%;
  height: 100%;
  grid-column: 1/2;
}

.main .card .content {
  padding: 1.5rem 1rem;
}
.main .card .content {
  grid-row: 1/2;
}

.main .card .content {
  grid-column: 2/3;
  background-color: #ff88b400;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
}

.main .card .content div p,
.main .card .content div h1 {
  justify-self: start;
}

.main .card .content div,
.main .card .content div.options {
  grid-column: 1/2;
}

.main .card .content div {
  grid-row: 1/2;
  max-width: 70%;
}

.main .card .content div.options {
  grid-row: 2/3;
  justify-self: end;
  align-self: end;
}

.main .card .content div.options svg {
  text-align: end;
  margin-left: 1.8rem;
}

.main .cardlike.rightmostup {
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  padding: 1rem;
  align-items: center;
  max-height: 40rem;
  font-size: small;
  border-radius: 1rem;
}

.main .cardlike.rightmostup .content {
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
}
.main .cardlike.rightmostup .content hr {
  background-color: #cabfbf;
  outline: none;
  border: 1px solid transparent;
}

.main .cardlike.rightmostup .content p {
  margin-bottom: 1rem;
}

.main .cardlike.rightmostdown {
  justify-items: center;
  align-items: center;
}

.main .cardlike.rightmostdown .content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  padding: 0.1rem !important;
  max-height: 100%;
}
